<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h3>DATOS DEL ALUMNO</h3>

<form action="" method="POST">
{% csrf_token %}

<pre>Id: <input type="text" name="id"></pre>
<pre>Nombre: <input type="text" name="nombre"></pre>
<pre>Apellido paterno: <input type="text" name="apePater"></pre>
<pre>Apellido materno: <input type="text" name="apeMater"></pre>
<pre>Fecha de Nacimiento: <input type="date" name="fecNaci"></pre>

</select>


<pre>Email: <input type="mail" name="email"></pre>

<input type="sumbit" value="Agregar"> 

</form>
<div id="idMensajes">
{% if mensaje %}

    {{mensajes}}

{% endif %}    

</div>
<br> 
<a href="Clientes.html">Volver</a>


</body>
</html>
