<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de artículos</title>
</head>
<body>
    <h3>Artículos</h3>
    <br>
    <button type="button">
        <a href="{% url 'articulosAdd' %}">Agregar</a>
    </button>
    <br>
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
     <br>
    <table>
        {% if regions %}
            <th>Artículo</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for tmp in regions %}
                <tr>
                    <td>{{tmp.region}}</td>
                    <td><a href="{% url 'articulos_del' pk=tmp.id_region %}">Eliminar</a></td>
                    <td><a href="{% url 'articulos_edit' pk=tmp.id_region %}">Modificar</a></td>
                </tr>
            {% endfor %} 
        {% endif %}   
    </table>
    <br>
    <a href="{% url 'Clientes' %}">Volver</a>
</body>
</html>