<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
</head>
<body>
    <h3>Modificar Artículos</h3>
    {% if articulo %}
        <form action="{% url 'articulos_edit' %}" method="post">
            {% csrf_token %} 
            {{ form.as_table }}
            <input type="submit" value="Actualizar">
        </form>
    {% endif %}
    <br><br>
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br>
    <a href="{% url 'crud_articulos' %}">Volver</a>
</body>
</html>