<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Clientes</title>
    <link rel="stylesheet" href="/proyecto/ventas/static/CSS/Style.css">
</head>
<body id="EditarCliente">
    {% if cliente %}
        <h3>Actualizar cliente</h3>
        <form action="{% url 'actualizar_cliente' %}" method="POST">
            {% csrf_token %} 

            <pre>Rut: <input type="text" name="rut" value="{{cliente.rut}}"></pre>
            <pre>Nombre: <input type="text" name="nombre" value="{{cliente.nombre}}"></pre>
            <pre>Apellido Paterno: <input type="text" name="apePat" value="{{cliente.apellido_paterno}}"></pre>
            <pre>Apellido Materno: <input type="text" name="apeMat" value="{{cliente.apellido_materno}}"></pre>
            <pre>Fecha de Nacimiento: <input type="date" name="fecNac" value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}"></pre>
            <pre>Articulo: <select name="N_articulo">
                {% for tmp in articulos %}
                    {% if tmp.articulo == cliente.articulo %}
                        <option value="{{tmp.articulo}}" selected>{{tmp.articulo}}</option>
                    {% else %}
                        <option value="{{tmp.articulo}}">{{tmp.articulo}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </pre>
            <pre>Email:<input type="mail" name="email" value="{{cliente.email}}"></pre>
            <input type="submit" value="Actualizar">
        </form>
    {% endif %}
    <br><br>
    
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br>
    <a href="{% url 'Clientes' %}">Volver</a>
</body>
</html>