<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XD</title>
</head>
<body>
    <h3>bienvenidos a Django</h3>
    <br>
    <button type="button">
        <a href="{% url 'alumnoAdd' %}">Agregar</a>
    </button>
    <br>
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br>
    <table>
        {% if alumnos %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for tmp in  alumnos %}
                <tr>
                    <td>{{tmp.rut}}</td>
                    <td>{{tmp.nombre}}</td>
                    <td>{{tmp.apellido_paterno}}</td>
                    <td><a href="{% url 'alumnos_del' pk=tmp.rut %}">Eliminar</a></td>
                    <td><a href="{% url 'alumnos_findEdit' pk=tmp.rut %}">Modificar</a></td>
                </tr>
            {% endfor %} 
        {% endif %}   
    </table>
    <br>
</body>
</html>