{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cliente</title>
    <link rel="stylesheet" href='{% static "CSS/Style.css" %}' type="text/css" charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
</head>
<body id="EditarCliente">
    {% if cliente %}
        <div id="formulario-editar">
            <h3>Actualizar cliente</h3>
            <form action="{% url 'actualizar_cliente' %}" method="POST">
                {% csrf_token %} 
                <div class="mb-3">
                    <label class="form-label">Rut:</label>
                    <input type="text" class="form-control" name="rut" value="{{cliente.rut}}" placeholder="Ingrese su rut" title="RUT">
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" value="{{cliente.nombre}}" placeholder="Ingrese su nombre" title="Nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido Paterno:</label>
                    <input type="text" class="form-control" name="apePat" value="{{cliente.apellido_paterno}}" placeholder="Ingrese su apellido paterno" title="Apellido Paterno">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido Materno:</label>
                    <input type="text" class="form-control" name="apeMat" value="{{cliente.apellido_materno}}" placeholder="Ingrese su apellido materno" title="Apellido Materno">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" name="fecNac" value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}" placeholder="Ingrese su fecha de nacimiento" title="Fecha de Nacimiento">
                </div>
                <div class="mb-3">
                    <label class="form-label">Articulo:</label>
                    <select class="form-select" name="N_articulo" title="Selecciona un artículo">
                        {% for tmp in articulos %}
                            {% if tmp.N_articulo == cliente.id_articulo %}
                                <option value="{{tmp.id_articulo}}" selected>{{tmp.N_articulo}}</option>
                            {% else %}
                                <option value="{{tmp.id_articulo}}">{{tmp.N_articulo}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="mail" class="form-control" name="email" value="{{cliente.email}}" placeholder="Ingrese su correo electrónico" title="Correo Electrónico">
                </div>
                <div class="mb-3">
                    <label class="form-label">Direccion:</label>
                    <input type="text" class="form-control" name="dire" value="{{cliente.direccion}}" placeholder="Ingrese su dirección" title="Dirección">
                </div>
                <input type="submit" class="btn btn-primary" value="Actualizar">
            </form>
        </div>
    {% endif %}
    <br><br>
    
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br>
    <a href="{% url 'Clientes' %}">Volver</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
</body>
</html>