<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar alumos</title>
</head>
<body>
    <h3>Datos del alumno</h3>
    <form action="" method="POST">
        {% csrf_token %} 
        <pre>Rut: <input type="text" name="rut"></pre>
        <pre>Nombre: <input type="text" name="nombre"></pre>
        <pre>Apellido Paterno: <input type="text" name="apePat"></pre>
        <pre>Apellido Materno: <input type="text" name="apeMat"></pre>
        <pre>Fecha de Nacimiento: <input type="date" name="fecNac"></pre>
        <pre>Articulo: <select name="N_articulo">
            {% for tmp in generos %}
                <option value="{{tmp.id_genero}}">{{tmp.genero}}</option>
            {% endfor%}
        </select>
        </pre>
        <pre>Teléfono:<input type="text" name="telefono"></pre>
        <pre>Email:<input type="mail" name="email"></pre>
        <pre>Dirección: <input type="text" name="direccion"></pre>
        <input type="submit" value="Agregar">
    </form>
    <br><br>
    
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br>
    <a href="{% url 'index' %}">Volver</a>
</body>
</html>