{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="icon" type="image/png" href="{% static 'IMG/favicon.png' %}">
	<link rel="stylesheet" href='{% static "CSS/Style.css" %}'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bodyreg">
    

	<nav id="navbar1" class="navbar bg-dark sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		<h3>Bienvenido </h3>
		<br>
	  
		{% if user.is_authenticated %}
			{{user.username}}
			
		{% else %}
			
		{% endif %}
	  
		{% if user.username == "admin" %}
			<button type="button">
				<a href="{% url 'Clientes' %}">Acceso ADMIN</a>
			</button>
		{% endif %}
		
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Joyería</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
			aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarScroll">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="Anillos.html">Anillos</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="Collares.html">Collares</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="Pendientes.html">Pendientes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="Brazaletes.html">Brazaletes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="RegistroJS.html">Registrarse</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="Carro.html">Carro</a>
			  </li>
			  
			  
			  
			</ul>
			<form class="d-flex" role="search">
			  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
			<ul class="navbar-nav ms-auto">
			{% if user.is_authenticated %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			  </li>
			  {% else %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
			  </li>
			  {% endif %} </ul>
		  </div>
		</div>
	  </nav>



	<form id="form2" name="registro">

		<h2>Registro de usuario</h2><br>

		<label for="nombre">Nombre de usuario:</label><br>
		<input type="text" id="nombre" name="nombre"><br><br>
		<p id="valida_nombre"></p><br>
		

		<label for="fecha_nacimiento">Fecha de nacimiento:</label>
		<input type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br><br>
		<p id="valida_nac"></p><br>
		
		<label for="correo">Correo electrónico:</label>
		<input type="email" id="correo" name="correo"><br><br>
		<p id="valida_email"></p><br>
		
		<label for="contrasena">Contraseña:</label>
		<input type="password" id="contrasena" name="contrasena"><br><br>
		<p id="valida_password"></p>
		
		
		
		<button type="button" onclick="validar()">Ingresar</button>

	</form> 
<!--FOOTER-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
    <script src="/static/JS/registro.js"></script>
</body>
</html>
